
#text, .email-text {
    font-family: 'eurostile', sans-serif;
}

h2 {
    font-weight: 600;
}
.container {
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding-top: 150px; /* used to offset fixed nav*/
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.button-group {
  display: flex;
  flex-direction: row;
}
.text-container {
    display: flex;
}


.selfie-img-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 4%;
  }

.selfie {
    border-radius: 50%;
    height: auto;
    width: 25%;
}

.social-buttons {
    font-size: 45px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #00aced;
}

.fa-linkedin-square {
    color: #007bb6;
}

@media only screen and (max-width: 600px) {

}
