<div class="container contact-container">
    <div class="jumbotron">
        <h2 id="text">Want to talk?</h2>
        <p id="text">If you are interested in working together on any projects or to simply contact me in general, check out the information below.<br>
        Please feel free to message me on any of these platforms! Thank you for reaching out. :)</p>
        <div class="selfie-img-container">
            <img
                src="../../assets/img/zack.png"
                class="selfie"
                alt="picture of zackary ramirez">
          </div>
        <hr class="my-4">
        <div class="contact-info-container">
            <div class="text-container">
                <p class="email-text">ZackaryRamirez96@gmail.com</p>
            </div>
            <div class="buttons-container">
                <div class="button-group">
                    <button
                      type="button"
                      class="btn social-buttons">
                      <a href="https://twitter.com/ZRamirez96"
                        class="fa fa-twitter-square"></a>
                    </button>
                    <button
                      type="button"
                      class="btn social-buttons">
                      <a href="https://www.facebook.com/zack.ramirez.79/"
                        class="fa fa-facebook-square">
                      </a>
                    </button>
                    <button
                      type="button"
                      class="btn social-buttons">
                      <a href="https://www.linkedin.com/in/zackary-ramirez-44424b178/"
                        class="fa fa-linkedin-square">
                      </a>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>
