<div class="grid-container" id="landingPage">
    <div class="grid-item intro">
        <div class="name">
            <span class="intro-text">Hi, I'm <span class="my-name-text">Zackary Ramirez</span></span><br>
            <div class="job-title">
                <span class="intro-text">and I am an aspiring software developer.</span>
            </div>
        </div>
    </div>
    <div class="grid-item view-button">
        <button class="btn view-btn" (click)="onClickScrollToHome(homepage)">View my website</button>
    </div>
</div>
<div #homepage>
    <app-header></app-header>
</div>
<div class="grid-container">
    <div class="grid-item">

    </div>
</div>