.grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas: ". main ."
                         ". btn .";
    /* grid-template-rows: auto auto; */
    grid-column: 1fr;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    grid-area: main;
    display: flex;
    align-items: flex-end;
}

.view-button {
    grid-area: btn;
    display: flex; 
    align-items: flex-start;
    padding: 12px;
}


.name {
    font-size: 30px;
}

.job-title {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
