
    <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Aspiring Front-End Developer</h1>
        <p class="lead">Howdy, My name is Zack!</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
    </div> -->


    <div class="jumbotron">
      <div class="container-fluid" id="jumbotron-container">
        <h1 class="display-7">Aspiring Front-End Developer</h1>
          <div class="container">
              <p class="lead">
                Howdy! My name is Zackary Ramirez.
  
              </p>
          </div>
      </div>
      <div class="container-fluid" id="selfie-container">
          <img src="../../assets/img/zack.png" class="selfie" alt="picture of zackary ramirez">
      </div>
  </div>
  <div class="container" id="about-me-container">
      <div class="jumbotron">
          <div class="container-fluid">
              <h2 class="display-7">
                  A little bit about me
              </h2>
              <div class="container">
                  <p class="lead">
                      this is a test 
                  </p>
              </div>
          </div>
      </div>
  </div>
  