<section class="about-me-section1">
  <div class="page-title">
    <h1 class="title-page">Aspiring Front-End Developer</h1>
    <p class="jumbo-text">Howdy, my name is Zackary Ramirez!</p>
  </div>
  <div class="selfie-img-container">
    <img
        src="../../assets/img/zack.png"
        class="selfie"
        alt="picture of zackary ramirez">
  </div>
  <div class="tech-img-container">
    <img src="../../assets/img/tech-photo.png" alt="" class="tech-photo">
  </div>
</section>
<section class="about-me-section2">
  <div class="container about-me-blurb">
    <h2 class="title-section-2">A little bit about me...</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, enim quo culpa alias deleniti tempora facilis quod molestias quis quibusdam laboriosam aspernatur ea tempore suscipit repellendus soluta sed ut ducimus.</p>
  </div>
</section>
<section class="about-me-section3">
  <div class="container tech-skills-container">
    <div class="tech-skills-title-container">
      <h2 class="tech-skills-title">Languages and Skills</h2>
    </div>
    <div class="buttons-row">
      <div class="button-group">
        <button type="button" class="btn btn-lg skill-buttons">HTML</button>
        <button type="button" class="btn btn-lg skill-buttons">CSS</button>
        <button type="button" class="btn btn-lg skill-buttons">Javascript</button>
        <button type="button" class="btn btn-lg skill-buttons">Java</button>
        <button type="button" class="btn btn-lg skill-buttons">C++</button>
      </div>
    </div>
    <div class="buttons-row">
      <div class="button-group">
        <button type="button" class="btn btn-lg skill-buttons">Angular 9</button>
        <button type="button" class="btn btn-lg skill-buttons">Bootstrap</button>
      </div>
    </div>
    <div class="buttons-row">
      <div class="button-group">
        <button type="button" class="btn btn-lg skill-buttons">GitHub</button>
        <button type="button" class="btn btn-lg skill-buttons">Jenkins</button>
      </div>
    </div>
  </div>
</section>

<section class="about-me-section4">
  <h2>Revelant Coursework</h2>
</section>
