<section class="about-me-section1">
  <div class="page-title">
    <h1 class="title-page">Aspiring Front-End Developer</h1>
    <p class="jumbo-text">Howdy, my name is Zackary Ramirez!</p>
  </div>
  <div class="selfie-img-container">
    <img
        src="../../assets/img/zack.png"
        class="selfie"
        alt="picture of zackary ramirez">
  </div>
  <div class="tech-img-container">
    <img src="../../assets/img/tech-photo.png" alt="" class="tech-photo">
  </div>
</section>

<section class="about-me-section2">
  <div class="container about-me-blurb">
    <h2 class="title-section-2">A little bit about me...</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, enim quo culpa alias deleniti tempora facilis quod molestias quis quibusdam laboriosam aspernatur ea tempore suscipit repellendus soluta sed ut ducimus.</p>
  </div>
</section>

<section class="about-me-section3">

</section>
