.about-me-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selfie-img-container {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 4%;
}

.selfie {
  border-radius: 50%;
  height: auto;
  width: 40%;

}

.tech-img-container {
  display: flex;
  align-self: flex-start;
  padding-left: 15px;
}

h1.title-page {
  font-family: 'eurostile', sans-serif;
  font-weight: 800;
  font-size: 3rem;
}
p.jumbo-text {
  color: black;
  font-family: 'eurostile', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.about-me-section1, .about-me-jumbotron1 {
  background-color: white;
  color: black;
}

.about-me-section2, .about-jumbotron2 {
  padding-top: 0%;
  background-color: #8a2be2; /* */
  height: 40vh;
}

/* About me blurb */
.blurb {
  width: 45vw;
}

h2, p {
  color: white;
}

/* Section 2 code begins */

.about-me-section2 {
  display: flex;
  flex-direction: row;
}

.about-me-blurb {
  display: flex;
  align-self: ;

}
.title-section-2 {
  font-size: 45px;
}
