.about-me-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selfie-img-container {
  display: flex;
  justify-content: center;
  width: 30%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 4%;
}

.selfie {
  border-radius: 50%;
  height: 100%;
  width: 100%;

}

.tech-img-container {
  display: flex;
  align-self: flex-start;
  padding-left: 15px;
}

.tech-photo {
  max-width: 100%;
  max-height: 100%;
}

h1.title-page {
  font-family: 'eurostile', sans-serif;
  font-weight: 800;
  font-size: 3rem;
}
p.jumbo-text {
  color: black;
  font-family: 'eurostile', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

#about-me-text, .title-section-2 {
  font-family: 'eurostile', sans-serif;
}

.about-me-section1, .about-me-jumbotron1 {
  background-color: white;
  color: black;
}

.about-me-section2, .about-jumbotron2 {
  padding-top: 0%;
  background-color: #8a2be2; /* */
  height: 40vh;
}

/* About me blurb */
.blurb {
  width: 45vw;
}

h2, h3, p {
  color: white;
}

/* Section 2 code begins */

.about-me-section2 {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.about-me-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  width: 50vw;
}
.title-section-2 {
  font-size: 45px;
  font-family: 'eurostile', sans-serif;
}

#about-me-text {
  font-size: 19px;
  font-weight: 50;
  word-wrap: break-word;
}


/* Section 3 code begins */

.about-me-section3 {
  display: flex;
}

.tech-skills-title-container {
  display: flex;
  justify-content: center;
}
.tech-skills-title {
  color: #8a2be2; 
}

.tech-skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6%;
  flex-wrap: wrap;
}

.buttons-row {
 position: center;
  padding: 15px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill-buttons {
  margin: 10px;
  border-color: #8a2be2;
  color: #8a2be2;
}

.skill-buttons:hover {
  color: white;
  background-color: #8a2be2;
}


/* Section 4 code begins */


.about-me-section4 {
  display: flex;
  background-color: #8a2be2; /* */
}

.relevant-title {
  font-family: 'eurostile', sans-serif;
  color: white;
}

.relevant-course-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #8a2be2;
  justify-content: center;
  padding: 6%;
}

.course-buttons {
  /* width: fit-content; */
  margin: 10px;
  border-color: white;
  color: white;
}

.course-buttons:hover {
  color: #8a2be2;
  background-color: white;
}

.relevant-title-container {
  display: flex;
  justify-content: center;
}

