<div class="container project-container">
  <div class="projects-title">
    <h1>Projects</h1>
  </div>
  <div class="project-list">
    <ul class="list-unstyled">
      <li class="media my-4">
        <img
          src="../../assets/img/logo.png"
          class="project-images"
          alt="picture of logo for this website"
        />
        <div class="media-body">
          <h5 class="mt-0 mb-1">
            <a
              href="https://github.com/ZRamirez/personal-site"
              class="project-item-title"
              >Personal Website</a
            >
          </h5>
          <p>
            This git repository contains the source code for this website. As of
            now it is quite baron and incomplete as I have yet to implement many
            projects. However, this website will serve as my programming
            portfolio not only job searching, but for my personal use.
          </p>
          <div class="button-group">
            <button
              type="button"
              class="btn btn-social-icon btn-github btn-rounded"
            >
              <a
                href="https://github.com/ZRamirez/personal-site"
                class="fa fa-github"
              ></a>
            </button>
          </div>
        </div>
      </li>
      <hr />
      <li class="media">
        <img
          src="../../assets/img/pancake.png"
          class="project-images"
          alt="picture of a hamburger"
        />
        <div class="media-body">
          <h5 class="mt-0 mb-1">
            <a href="" class="project-item-title">Recipe Book</a>
          </h5>
          <p>
            This recipe book was created through the course "Angular - The
            Complete Guide (2020 Edition)" on Udemy. In this project, you are
            able to create your own recipe book by creating an account. You are
            able to create recipes by adding and mixing ingredients as well as
            place ingredients into a shopping list. If you are to logout, your
            recipes will be preserved and ready for your next login. This
            project demonstrates basic concepts such as Components, Directives,
            Observables, HTTP Requests, Pipes, Authentication and Route
            Protection. Firebase was used as the backend to mimic authentication
            and a realtime database.
          </p>
          <div class="button-group">
            <button
              type="button"
              class="btn visit-btn"
            >
              <a
                href="https://udemy-8da80.firebaseapp.com/"
                class="button-text"
              >
                Visit here!
            </a>
            </button>
            <button
              type="button"
              class="btn btn-social-icon btn-github btn-rounded"
            >
              <a
                href="https://github.com/ZRamirez/udemy-project"
                class="fa fa-github"
              ></a>
            </button>
          </div>
        </div>
      </li>
      <hr />
    </ul>
  </div>
</div>
