<nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" routerLink="/">Z|R</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/about">About</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/projects">Projects</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      </ul>
    </div>
</nav>
